In [12]:
## TASK 1
import pandas as pd
import glob
import os

DATA_PATH1 = "data/DayAheadPrices_12.1.D/"
DATA_PATH2 = "data/PhysicalFlows_12.1.G/"

file_pattern1 = os.path.join(DATA_PATH1, "*.csv")
file_pattern2 = os.path.join(DATA_PATH2, "*.csv")

file_list1 = glob.glob(file_pattern1)
file_list2 = glob.glob(file_pattern2)

dataframes_day_ahead = []
dataframes_physical_flows = []


for file in file_list1:
    df = pd.read_csv(file, sep="\t", parse_dates=["DateTime"])
    dataframes_day_ahead.append(df)
for file in file_list2:
    df = pd.read_csv(file, sep="\t", parse_dates=["DateTime"])
    dataframes_physical_flows.append(df)


data_day_ahead = pd.concat(dataframes_day_ahead)
data_physical_flows = pd.concat(dataframes_physical_flows)

display(data_day_ahead)
display(data_physical_flows)

,DateTime,ResolutionCode,AreaCode,AreaTypeCode,AreaName,MapCode,Price,Currency,UpdateTime
0,2021-05-01 00:00:00,PT60M,10Y1001A1001A44P,BZN,SE1 BZN,SE1,42.45,EUR,2021-04-30 15:06:02
1,2021-05-01 01:00:00,PT60M,10Y1001A1001A44P,BZN,SE1 BZN,SE1,42.73,EUR,2021-04-30 15:06:02
2,2021-05-01 02:00:00,PT60M,10Y1001A1001A44P,BZN,SE1 BZN,SE1,42.78,EUR,2021-04-30 15:06:02
3,2021-05-01 03:00:00,PT60M,10Y1001A1001A44P,BZN,SE1 BZN,SE1,43.46,EUR,2021-04-30 15:06:02
4,2021-05-01 04:00:00,PT60M,10Y1001A1001A44P,BZN,SE1 BZN,SE1,44.19,EUR,2021-04-30 15:06:02
...,...,...,...,...,...,...,...,...,...
32731,2019-08-07 17:00:00,PT60M,10YSI-ELES-----O,BZN,SI BZN,SI,57.19,EUR,2019-08-06 13:18:18
32732,2019-08-07 18:00:00,PT60M,10YSI-ELES-----O,BZN,SI BZN,SI,56.94,EUR,2019-08-06 13:18:18
32733,2019-08-07 19:00:00,PT60M,10YSI-ELES-----O,BZN,SI BZN,SI,56.00,EUR,2019-08-06 13:18:18
32734,2019-08-07 20:00:00,PT60M,10YSI-ELES-----O,BZN,SI BZN,SI,49.54,EUR,2019-08-06 13:18:18
32735,2019-08-07 21:00:00,PT60M,10YSI-ELES-----O,BZN,SI BZN,SI,43.76,EUR,2019-08-06 13:18:18

                  DateTime InMapCode OutMapCode  FlowValue
0      2023-07-01 00:00:00        AL         GR        3.0
1      2023-07-01 01:00:00        AL         GR        3.0
2      2023-07-01 02:00:00        AL         GR        0.0
3      2023-07-01 03:00:00        AL         GR        0.0
4      2023-07-01 04:00:00        AL         GR        0.0
...                    ...       ...        ...        ...
230619 2020-03-31 19:00:00    UA_IPS         RU      243.0
230620 2020-03-31 20:00:00    UA_IPS         RU      270.0
230621 2020-03-31 21:00:00    UA_IPS         RU      282.0
230622 2020-03-31 22:00:00    UA_IPS         RU      182.0
230623 2020-03-31 23:00:00    UA_IPS         RU      330.0

[14402346 rows x 4 columns]